---
import { AstroSeo } from '@astrolib/seo';

import Layout from '@src/layouts/Layout.astro';
import Card from '@src/components/Card/Card.astro';
import { hygraphService } from '@src/services/hygraphService';
import CardLarge from '@src/components/Card/CardLarge.astro';
import Button from '@src/components/Button/Button';

const { data } = await hygraphService().getBlogs();

console.log(data);

const categorys = ['system design', 'web development', 'data structure', 'algorithm'];

// Astro.locals.cache(0);
---

<Layout title='Welcome to MyBlog'>
	<AstroSeo slot='head' title={'Blog'} description={'Blog'} />
	<article class='container mx-auto max-w-6xl' transition:animate='slide'>
		<div class='px-2 py-10 md:py-20'>
			<section class='md:px-5'>
				{
					data.pinBlog.length > 0 ? (
						<CardLarge
							alt={data.pinBlog[0].title}
							desc={data.pinBlog[0].description}
							srcImage={data.pinBlog[0].desktopImage.url}
							title={data.pinBlog[0].title}
							datetime={data.pinBlog[0].publishedAt}
							href={`/blogs/${data.pinBlog[0].slug}`}
						/>
					) : null
				}
			</section>
			<section class='py-10 md:px-5'>
				<p class='mb-20 text-3xl font-bold md:mb-5'>Latest Blogs</p>

				<div class='mb-20 flex flex-wrap gap-3 md:mb-10'>
					{
						categorys.map((category) => (
							<Button
								classBtn='w-fit min-w-32 rounded-full border-2 border-gray-500 bg-transparent text-xs text-black hover:border-gray-500 hover:bg-gray-400'
								variant='contained'
								type='button'
							>
								{category}
							</Button>
						))
					}
				</div>

				<div class='grid grid-flow-row grid-cols-1 gap-16 md:grid-cols-2'>
					{
						data.blogs.map((v) => {
							const category = v.category.map((category) => category.name);
							return (
								<Card
									title={v.title}
									alt='alt'
									desc={v.description}
									category={category}
									datetime={v.publishedAt}
									href={`/blogs/${v.slug}`}
									srcImage={v.desktopImage.url}
									transition:name={`media-page-${v.slug}`}
									transition:animate={`slide`}
								/>
							);
						})
					}
				</div>

				<div class='mt-10 flex justify-center'>
					<a href='/blogs'>
						<Button
							classBtn='w-fit min-w-32 rounded-full text-sm bg-black hover:bg-gray-400'
							color='primary'
							variant='contained'
							type='button'>Load More</Button
						>
					</a>
				</div>
			</section>
		</div>
	</article>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
