---
import Button from '@src/components/Button/Button';
import MarkdownRender from '@src/components/Markdown/Markdown.astro';
import NextButton from '@src/components/Button/NextButton.astro';
import Layout from '@src/layouts/Layout.astro';
import { hygraphService } from '@src/services/hygraphService';

import { Picture } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import PreviousButton from '@src/components/Button/PreviousButton.astro';
import ButtonShare from '@src/components/Button/ButtonShare';
import { serializeMarkdown } from '@src/utils/markdownRender';
import CardTableGenerateFloating from '@src/components/Card/CardTableGenerateFloating';
import type { OpenGraph } from '@src/types/headerTag';
import { generateBlogSchema } from '@src/utils';

// Cache for 60 seconds
Astro.locals.cache(import.meta.env.PUBLIC_CACHE_SITE);

const { slug } = Astro.params;

if (!slug) {
	return Astro.redirect('/404');
}

// Call API to get data by slug
const data = await hygraphService().getBlogBySlug(slug);

const { contentRender, toc } = await serializeMarkdown(data.content);

// OpenGraph
const openGraph: OpenGraph = {
	type: data.metaDescription.ogType,
	title: data.metaDescription.metaTitle,
	description: data.metaDescription.metaDescription,
	image: data.metaDescription.ogImage.url,
	alt: data.metaDescription.metaTitle,
};

// Schema
const schema = generateBlogSchema({
	title: data.title,
	description: data.description,
	url: Astro.url.pathname,
	image: data.desktopImage.url,
	author: 'Patradanai',
	keywords: data.metaDescription.keyword,
	publishedDate: new Date(data.publishedAt),
});
---

<Layout
	title={data.title}
	description={data.description}
	noFollow={data.metaDescription.isFollow ? false : true}
	noIndex={data.metaDescription.isIndex ? false : true}
	og={openGraph}
	schema={schema}
>
	<CardTableGenerateFloating client:only='react' headers={toc} />

	<article class='py-5' transition:name=`media-page-${slug}` transition:animate='slide'>
		<div class='container mx-auto max-w-6xl'>
			<section class='flex h-full flex-col items-center rounded-2xl bg-[#EAEAEA]'>
				<section class='py-10'>
					<h1 class='text-center text-3xl font-bold'>{data.title}</h1>
				</section>

				<!-- Image -->
				<section class='px-5 py-10'>
					<Picture
						class='max-h-[600px] rounded-xl object-cover'
						formats={['avif', 'webp']}
						src={data.desktopImage.url}
						alt={''}
						width='1924'
						height='400'
						loading='eager'
						fetchpriority='high'
						densities={[1.5, 2]}
					/>
				</section>

				<!-- Icon -->
				<section class='flex w-full flex-col items-end px-5'>
					<ul class='flex gap-2'>
						<li>
							<ButtonShare client:only='react'>
								<Icon name='mdi:link-variant' class='h-10 w-10 text-black' />
							</ButtonShare>
						</li>
						<li>
							<ButtonShare client:only='react'>
								<Icon name='mdi:facebook' class='h-10 w-10 text-black' />
							</ButtonShare>
						</li>
					</ul>
				</section>

				<!-- Content -->
				<section class='mb-20 flex w-full flex-col items-center justify-start'>
					<div
						class='prose prose-stone max-w-none p-4 prose-headings:text-black text-black md:mt-4 md:rounded-2xl'
					>
						<MarkdownRender content={contentRender} />
					</div>
				</section>

				<!-- Category -->
				<section class='mb-10 w-full items-center justify-start px-5 flex flex-wrap gap-5'>
					{
						data.category.map((v) => (
							<Button
								classBtn='h-10 w-fit min-w-32 rounded-full border-2 border-gray-500 bg-gray-300 text-xs text-black hover:border-gray-500 hover:bg-gray-300 hover:shadow-none'
								type='button'
							>
								{v.name}
							</Button>
						))
					}
				</section>

				<!-- Next - Previous -->
				<section class='mb-10 flex w-full flex-row justify-between px-5'>
					<!-- Previous Btn -->
					{
						data.relativeBlogs.length === 1 ? (
							<PreviousButton
								title={data.relativeBlogs[0].title}
								imageAlt={data.relativeBlogs[0].imageAlt}
								imageSrc={data.relativeBlogs[0].imageSrc}
								path={`/blogs/${data.relativeBlogs[0].slug}`}
							/>
						) : (
							<div />
						)
					}
					<!-- Next Btn -->
					{
						data.relativeBlogs.length === 2 ? (
							<NextButton
								title={data.relativeBlogs[1].title}
								imageAlt={data.relativeBlogs[1].imageAlt}
								imageSrc={data.relativeBlogs[1].imageSrc}
								path={`/blogs/${data.relativeBlogs[1].slug}`}
							/>
						) : (
							<div />
						)
					}
				</section>

				<hr class='w-full border-2 border-black/80' />

				<!-- Writter -->
				<section class='w-full px-5 py-10'>
					<div class='flex flex-col items-start'>
						<div class=''>
							<div class='size-28 bg-gray-400 overflow-hidden rounded-full  grid place-content-center'>
								<p class="uppercase text-black/80 text-6xl">P</p>
							</div>

							<div class='items-left flex flex-col'>
								<p class='mt-5 text-lg'>Writter By <span>{'@Patradanai'}</span></p>
							</div>

							<div>
								<p class='mt-5 text-lg'>
									{'จดบันทึกเรื่องราวที่เกิดขึ้นในชีวิต และเรื่องราวที่เกิดขึ้นในการทำงาน'}
								</p>
							</div>
						</div>
					</div>
				</section>
			</section>
		</div>
	</article>
</Layout>
