---
import { AstroSeo } from '@astrolib/seo';

import Layout from '@src/layouts/Layout.astro';
import Card from '@src/components/Card/Card.astro';
import { hygraphService } from '@src/services/hygraphService';
import Button from '@src/components/Button/Button';
import type { OpenGraph } from '@src/types/headerTag';

// Cache for 60 seconds
Astro.locals.cache(import.meta.env.PUBLIC_CACHE_SITE);

const q = Astro.url.searchParams.get('q');

const { data } = await hygraphService().getBlogs({ q: q ?? '' });

const categorys = ['system design', 'web development', 'data structure', 'algorithm'];

// OpenGraph
const openGraph: OpenGraph = {
	type: 'website',
	title: 'all blogs - patradanai.com',
	description:
		'Browse all blogs on patradanai.com, a community for developers to keep learning and sharing knowledge.',
	image: '/logo_full_white.png',
	alt: 'patradanai.com',
};
---

<Layout
	title='patradanai.com'
	description='Browse all blogs on patradanai.com, a community for developers to keep learning and sharing knowledge.'
	og={openGraph}
>
	<AstroSeo slot='head' title={'Blog'} description={'Blog'} />
	<article class='container mx-auto max-w-6xl' transition:animate='slide'>
		<div class='px-2 py-10'>
			<section class='md:px-5'>
				<p class='mb-20 text-3xl font-bold md:mb-5'>Latest Blogs</p>

				<div class='mb-20 flex flex-wrap gap-3 md:mb-10'>
					{
						categorys.map((category) => (
							<Button
								classBtn='w-fit min-w-32 rounded-full border-2 border-gray-500 bg-transparent text-xs text-black hover:border-gray-500 hover:bg-gray-400'
								variant='contained'
								type='button'
							>
								{category}
							</Button>
						))
					}
				</div>
				<div class='grid grid-flow-row grid-cols-1 gap-16 md:grid-cols-2'>
					{
						data.blogs.map((v) => {
							const category = v.category.map((category) => category.name);
							return (
								<Card
									title={v.title}
									alt='alt'
									desc={v.description}
									category={category}
									datetime={v.publishedAt}
									href={`/blogs/${v.slug}`}
									srcImage={v.desktopImage.url}
								/>
							);
						})
					}
				</div>

				<div class='mt-10 flex justify-center'>
					<Button
						classBtn='w-fit min-w-32 rounded-full bg-black text-sm hover:bg-gray-400'
						color='primary'
						variant='contained'
						type='button'>Load More</Button
					>
				</div>
			</section>
		</div>
	</article>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
